@model IEnumerable<FaturamentoDiretoRevenda.Model.RevendaMod>

<p>
    @Html.ActionLink("Cadastrar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeUsuariosAcesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcessoLibertado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTerminoAcesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUltimaAlteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChaveLiberacaoAcesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeResponsavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeUsuariosAcesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcessoLibertado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataTerminoAcesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUltimaAlteracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChaveLiberacaoAcesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
